name: Maven build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package -Dcheckstyle.skip=true -DskipTests

      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: Cloud file storage jar build
          path: target/task-tracker-api-0.0.1-SNAPSHOT.jar
  test:
    runs-on: ubuntu-latest

    needs: build

    services:
      docker:
        image: docker:latest
        options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: Cloud file storage jar build
          path: target/

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Start Docker
        run: |
          sudo service docker start
          sudo chmod 666 /var/run/docker.sock

      - name: Run Tests with Maven
        run: mvn test -Dcheckstyle.skip=true

  checkstyle:
    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: Cloud file storage jar build
          path: target/

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Checkstyle validation
        run: mvn validate
